<%-include('./partials/header')%>
<%-include('./partials/navbar')%>

<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <h1><%=title%> <img src="https://c.tenor.com/GTpcptu5S3YAAAAj/money-cash.gif" alt="" width="25%"></h1>
    <h4><%=currency%></h4>
    <h3 class=" "><%=code%></h3>
    <h2 class=" "><%=mid%></h2>
    <h4><%=effectiveDate%></h4>
</div>
<script>
    input = document.getElementById("search");
    input.style.display = "none";
  </script>
<%-include('./partials/footer')%>